:root {
    --main-color: #fff;
    --hover-color: #3CB878;
    --form-hover: #01813F;
}

* {
    font-family: 'Ubuntu', sans-serif;
    color: var(--main-color);
}

body {
    height: 100vh;
}

li {
    list-style: none;
}

.bg {
    background-image: url("img/bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    height: 58px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-container {
    margin: 0 auto;
    width: 1205px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
}

.header-logo:hover, .header-login:hover {
    transition: color .3s ease-in;
    color: var(--hover-color);
}

.header-right-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-icons-box {
    padding-right: 20px;
    margin-right: 27px;
    width: 126px;
    display: flex;
    justify-content: space-between;
    border-right: 1px solid #fff;
}

.header-icon {
    fill: var(--main-color);
}

.header-icon:hover {
    transition: fill .3s ease-in;
    fill: var(--hover-color);
}

.contacts {
    height: 60px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    text-align: right;
}
.main {
    height: calc(100% - 58px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    position: relative;
    min-width: 444px;
    min-height: 584px;
    background-color: #fff;
}

.form::before {
    content: "";
    position: absolute;
    top: 29px;
    width: 18px;
    height: 18px;
    background-color: var(--hover-color);
}

.form-container {
    padding: 30px 60px 38px 60px;
    display: flex;
    flex-direction: column;
}

.form-login-box {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.form-singup{
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.form-login, .form-terms{
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}

.form-login:hover, .form-terms:hover{
    text-decoration: underline;
    color:var(--form-hover);
}

.form-btn-box {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}

.form-btn {
    position: relative;
    width: 160px;
    height: 48px;
    padding-left: 12px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.form-btn::before {
    position: absolute;
    left: 48px;
    content: "";
    height: 28px;
}

.form-btn.fb::before{
    border: 1px solid #0A162F;
    opacity: 0.1;
}

.form-btn.google::before{
    border: 1px solid #2B0D09;
    opacity: 0.1;
}

.fb {
    background-color: #305DB8;
}

.fb:hover {
    transition: background-color .3s ease-in;
    background-color: #022263;
}

.google {
    background-color: #DF4A32;
}

.google:hover {
    transition: background-color .3s ease-in;
    background-color: #AB1F09;
}

.form-divider {
    padding-top: 30px;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    text-align: center;
}

.form-divider::before, .form-divider::after {
    display: inline-block;
    content: "";
    border-top: 1px solid #F2F2F2;
    width: 152px;
    margin: 0 1px;
    transform: translateY(-3px);
}

.form-input-txt {
    width: 100%;
    height: 46px;
    margin-top: 15px;
    padding-left: 20px;
    padding-top: 14px;
    padding-bottom: 16px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}

.form-input-txt:focus {
    color: #434343;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    outline: 0;
}

.label-agreement {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    line-height: 20px;
    cursor: pointer;
    padding-top: 12px;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked)
{
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 10px;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
    left: 2px;
    top: 13px;
    width: 16px;
    height: 9px;
    border-left: 2px solid var(--hover-color);
    border-bottom: 2px solid var(--hover-color);
    -webkit-transform: rotate(-55deg);
    -moz-transform: rotate(-55deg);
    -o-transform: rotate(-55deg);
    -ms-transform: rotate(-55deg);
    transform: rotate(-55deg);
}

input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after {
    opacity: 1;
}



.form-btn-big {
    margin-top: 20px;
    width: 100%;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
}

.form-btn-big:hover {
    transition: background-color .3s ease-in;
    background: #01813F;
}